<%@entries.each do |entry| %>
  <%= link_to entry_path (entry) do %>
    <div class="card">
      <div class="card-content">
        <strong><%= entry.meal_type %> by <%= entry.user.username if entry.user %>:</strong>
        <%= entry.calories %> Calories,
        <%= entry.proteins %> g Proteins,
        <%= entry.carbohydrates %> g Carbohydrates,
        <%= entry.fats %> g Fat
      </div>
    </div>
  <% end %>
<% end %>