<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username, class: "label" %>
    <%= form.text_field :username, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :user_email, class: "label" %>
    <%= form.email_field :user_email, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :password_digest, class: "label" %>
    <%= form.password_field :password_digest, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit(@user.new_record? ? "Sign Up" : "Update Account", class:"button is-success") %>
  </div>
<% end %>




