<p id="notice"><%= notice %></p>

<div class="columns is-centered met-6">
  <div class="column is-one-third">

<%@users.each do |user| %>
    <div class="card">
      <div class="card-content">

        <strong>User: <%= link_to user.username, user %></strong>
        <div class="card-content">
          <%= link_to gravatar_for(user, size: 150), user %>
        </div>
        <div class="card-content">
          <%= pluralize(user.entries.count, "entry") %>
        </div>
        <div class="card-footer"> Joined
          <%= time_ago_in_words(user.created_at) %> ago
        </div>
        <div class="card-footer">
          <%= link_to 'Show', user%></td> |
          <%= link_to 'Edit', edit_user_path(user) %> |
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>

      </div>
    </div>
  <% end %>

  </div>
</div>

<%= link_to 'New User', new_user_path %>
