<div class="columns is-centered met-6">
  <div class="column is-one-third">

    <p id="notice"><%= notice %></p>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>

    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <%= gravatar_for @user, size: 200 %>

    <h3 class="is-size-2 has-text-weight-bold mb-3">Entries</h3>

    <%= render 'entries/entry' %>

  </div>
</div>